div.block {
  height: 200px;
  margin: 7px;
  border: 3px solid black;
  border-radius: 20px;
  background-image: url("../imgs/wallpaper002.jpg");
}
div#d1 {
  background-position: left center;
}
div#d2 {
  background-position: left top;
}
div#d3 {
  background-position: right bottom;
}
div#d4 {
  background-position: center center;
}
